.cv {
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    margin: 10px 30px 0 30px;
}

.text {
    font-size: 20px;
}

.cv__body {
    margin: 0 auto;
}

.cv__header {
    height: 80px;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(#e66465, #9198e5);
}

.cv__information {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}

.cv__skills {
    padding: 20px 20px;
    background: linear-gradient(#e66465, #9198e5);
    max-width: 30%;
    min-width: 15%;
    margin: 0 10px 0 0;
}

.cv__description {
    padding: 20px 20px;
    background: linear-gradient(#e66465, #9198e5);
}

.cv__article-description {
    margin-bottom: 20px;
}

.cv__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cv__image-one {
    background-image: url(../images/11.PNG);
    display: block;
    width: 45%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 5px;
}

.cv__image-two {
    background-image: url(../images/22.PNG);
    display: block;
    width: 45%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 5px;
}

.cv__image-three {
    background-image: url(../images/33.PNG);
    display: block;
    width: 45%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 5px;
}

.cv__image-four {
    background-image: url(../images/44.png);
    display: block;
    width: 45%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 5px;
}

.cv__footer {
    position: relative;
    background: linear-gradient(#e66465, #9198e5);
}

.cv__copyright {
    text-align: center;
    padding: 10px 0;
}
